@import './styles/variables.css';
@import './styles/base.css';
@import './styles/layout.css';

@import './styles/buttons.css';
@import './styles/forms.css';
@import './styles/popovers.css';

@import './styles/context.css';
@import './styles/header.css';
@import './styles/piano.css';
@import './styles/sequences.css';



.button {
  background: transparent;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  fill: transparent;
  height: 48px;
  padding: 0;
  stroke: rgb(var(--primary-gray));
  transition: background 0.3s;
  width: 48px;
}

.button:hover {
  background: rgba(var(--primary-gray), 0.1);
}

.button:active {
  fill: rgb(var(--primary-gray));
}



.button-playing {
  background: rgba(var(--primary-gray), 0.1);
  fill: rgb(var(--primary-gray));
}

.button-playing:hover {
  background: rgba(var(--primary-gray), 0.2);
}

.button-playing .icon-play,
.button-stopped .icon-stop {
  display: none;
}



.button-record {
  stroke: rgb(var(--tetriary-color));
}

.button-record:hover {
  background: rgba(var(--tetriary-color), 0.1);
}

.button-record:active {
  fill: rgb(var(--tetriary-color));
}

.button-recording {
  background: rgba(var(--tetriary-color), 0.1);
  fill: rgb(var(--tetriary-color));
}

.button-recording:hover {
  background: rgba(var(--tetriary-color), 0.2);
  fill: rgb(var(--tetriary-color));
}



.button-loop:hover {
  fill: transparent;
}

.button-looping {
  stroke: rgb(var(--scondary-color));
}

.button-looping:hover {
  background: rgba(var(--scondary-color), 0.15);
}



.button-save:active .icon-save-details {
  stroke: #fff;
}



.timeline {
  fill: #bbb;
  margin: -4px 0 20px 0;
}
