.timeline {
  fill: #bbb;
  margin: -2px 0 20px -3px;
}



.marker {
  background: rgb(var(--tertiary-color));
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
}



.bubble-wrapper {
  position: relative;
}

.bubble {
  background: #fff;
  border-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  height: 170px;
  margin-bottom: 20px;
  transition: all 0.3s
}

.bubble-notes {
  height: 100%;
  width: 100%;
}

.bubble-note {
  fill: rgb(var(--primary-color))
}

.bubble-delete {
  background: #fff;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  color: rgb(var(--tertiary-color));
  cursor: pointer;
  height: 24px;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  transition: all 0.3s;
  visibility: hidden;
  width: 24px;
}

.bubble-selected {
  border-color: rgb(var(--primary-color));
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.bubble-left-trim {
  border-left-width: 8px;
  cursor: ew-resize;
}

.bubble-right-trim {
  border-right-width: 8px;
  cursor: ew-resize;
}

.bubble-wrapper:hover .bubble-delete {
  opacity: 1;
  visibility: visible;
}
