.wrapper {
  display: grid;
  grid-template-areas: "header header" "main context" "piano context";
  grid-template-columns: calc(100vw - 300px) 300px;
  grid-template-rows: min-content auto 260px;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  padding: 20px;
}

.piano {
  grid-area: piano;
}

.context {
  background: #f3f5f9;
  border-left: 1px solid #ccced1;
  grid-area: context;
  padding: 20px;
}



.scroll {
  height: 100%;
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}
