.piano {
  background: #333;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(calc(var(--white-keys) * 3), 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: calc(var(--key-width) * var(--white-keys));
}

.key {
  background: #fff;
  border: 0;
  border-left: 1px solid #333;
  border-radius: 0 0 10px 10px;
  color: #aaa;
  grid-column: auto / span 3;
  grid-row: 1 / span 3;
  outline: 0;
  z-index: 1;
}

.key:active {

}

.key-black {
  background: #333;
  border: 0;
  grid-column: auto / span 2;
  grid-row: 1 / span 2;
  z-index: 2;
}
