
.popover-wrapper {
  display: inline-block;
  position: relative;
}

.popover {
  background: #fff;
  border-radius: 20px;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
  margin: 10px -16px 0 0;
  padding: 25px;
  position: absolute;
  right: 0;
  text-align: left;
  transition: all 0.3s;
  width: 400px;
  z-index: 10001;
}

.popover:before {
  border-color: #fff transparent;
  border-width: 0 20px 20px 20px;
  border-style: solid;
  content: "";
  position: absolute;
  right: 20px;
  top: -20px;
}

.popover-hidden {
  opacity: 0;
  transform: translateY(-5px);
  visibility: hidden;
}
